.container {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 100px;
}

.bar {
    width: 8px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

.compare {
    width: 8px;
    background-color: yellow;
    display: inline-block;
    margin: 0 1px;
}

.position {
    width: 8px;
    background-color: green;
    display: inline-block;
    margin: 0 1px;    
}

.ready {
    width: 8px;
    background-color: red;
    display: inline-block;
    margin: 0 1px;    
}